<script type="text/discourse-plugin" version="0.8">
  const container = Discourse.__container__;

  api.registerConnectorClass('before-topic-list-body', 'tag-sidebar', {
    tagName: "div.sticky-sidebar",
    setupComponent(args, component) {


      component.set('hostname', window.location.hostname);
      api.onPageChange((url) => {
        const path = window.location.pathname;
        const catController = container.lookup('controller:navigation/category');
        const category = catController.get("category");

        const isException = category &&
            settings.exceptions.split("|").includes(category.name);

        const siteSettings = container.lookup("site-settings:main");


        const topMenuRoutes =
        siteSettings.top_menu.split('|')
        .map(function(route) {return '/' + route});


        let noCategories = topMenuRoutes.indexOf("/categories")

        if (noCategories > -1) {
          topMenuRoutes.splice(noCategories, 1);
        }

      if(/^\/c\//.test(path) && !isException || (settings.show_on_toproutes && (topMenuRoutes.indexOf(path) > -1) && !/^\/tag\//.test(path))) {

          const tagController = container.lookup("controller:discovery/topics");
          let topTags = tagController.get("model.topic_list.top_tags");


          if (topTags.length > 2) {

          $('html').addClass('custom-sidebar');
          $(".topic-list").addClass("with-sidebar").addClass(settings.sidebar_side);
          if (this.isDestroyed || this.isDestroying) {
            return;
          }
          component.set('topTags', topTags);
          component.set('cat', category);
          component.set('tagSidebar', true);

        } else {
          $('html').removeClass('custom-sidebar');
          $(".topic-list").removeClass("with-sidebar").removeClass(settings.sidebar_side);
          component.set('tagSidebar', false);
          }
        }
      })
    }
  });
</script>

<script
  type="text/x-handlebars"
  data-template-name="/connectors/before-topic-list-body/tag-sidebar"
>
   {{#if tagSidebar}}

      <div class="tag-sidebar {{cat.slug}}-sidebar">
        <h3>{{i18n (theme-prefix "popular_tags")}}</h3>
          {{#each topTags as |t|}}
            <a href="/tags{{if cat '/c/'}}{{if cat.parentCategory (concat cat.parentCategory.slug "/")}}{{cat.slug}}/{{t}}">{{t}}</a>
          {{/each}}
      </div>

  {{/if}}
</script>
